.darkDropdownToggle {
    background-color: rgb(35, 28, 28);
}

.lightDropdownToggle {
    background-color: rgb(191, 181, 181);
}

.darkNavDropdown{
    text-align: center;
}

.lightNavDropdown{
    text-align: center;
}


.darkCompleteUserName{
    font-size: 12px;
}

.lightCompleteUserName{
    font-size: 12px;
}

